<h1><%= @game.game_name %></h1>

<div class="padding">
  <h1 class="title">Chess Board</h1>
  <table class="board">
    <tr>
      <%# styling %>
      <%# class=<%= @current_piece.x_position == 0 && @current_piece.y_position == 0 ? "current-piece-dark" : "dark square" %>
      <td class=<%= @current_piece.x_position == 0 && @current_piece.y_position == 0 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 0, y_position: 0)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 0, y_position: 0), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 1 && @current_piece.y_position == 0 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 1, y_position: 0)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 1, y_position: 0), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 2 && @current_piece.y_position == 0 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 2, y_position: 0)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 2, y_position: 0), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 3 && @current_piece.y_position == 0 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 3, y_position: 0)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 3, y_position: 0), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 4 && @current_piece.y_position == 0 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 4, y_position: 0)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 4, y_position: 0), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 5 && @current_piece.y_position == 0 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 5, y_position: 0)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 5, y_position: 0), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 6 && @current_piece.y_position == 0 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 6, y_position: 0)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 6, y_position: 0), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 7 && @current_piece.y_position == 0 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 7, y_position: 0)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 7, y_position: 0), method: :put %>
      </td>
    </tr>
    <tr>
      <td class=<%= @current_piece.x_position == 0 && @current_piece.y_position == 1 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 0, y_position: 1)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 0, y_position: 2), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 1 && @current_piece.y_position == 1 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 1, y_position: 1)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 0, y_position: 2), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 2 && @current_piece.y_position == 1 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 2, y_position: 1)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 0, y_position: 2), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 3 && @current_piece.y_position == 1 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 3, y_position: 1)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 0, y_position: 2), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 4 && @current_piece.y_position == 1 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 4, y_position: 1)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 0, y_position: 2), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 5 && @current_piece.y_position == 1 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 5, y_position: 1)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 0, y_position: 2), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 6 && @current_piece.y_position == 1 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 6, y_position: 1)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 0, y_position: 2), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 7 && @current_piece.y_position == 1 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 7, y_position: 1)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 0, y_position: 2), method: :put %>
      </td>
    </tr>
    <tr>
      <td class=<%= @current_piece.x_position == 0 && @current_piece.y_position == 2 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 0, y_position: 2)
          link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 0, y_position: 2), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 1 && @current_piece.y_position == 2 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 1, y_position: 2)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 1, y_position: 2), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 2 && @current_piece.y_position == 2 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 2, y_position: 2)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 2, y_position: 2), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 3 && @current_piece.y_position == 2 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 3, y_position: 2)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 3, y_position: 2), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 4 && @current_piece.y_position == 2 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 4, y_position: 2)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 4, y_position: 2), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 5 && @current_piece.y_position == 2 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 5, y_position: 2)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 5, y_position: 2), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 6 && @current_piece.y_position == 2 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 6, y_position: 2)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 6, y_position: 2), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 7 && @current_piece.y_position == 2 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 7, y_position: 2)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 7, y_position: 2), method: :put %>
      </td>
    </tr>
    <tr>
      <td class=<%= @current_piece.x_position == 0 && @current_piece.y_position == 3 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 0, y_position: 3)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 0, y_position: 3), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 1 && @current_piece.y_position == 3 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 1, y_position: 3)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 1, y_position: 3), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 2 && @current_piece.y_position == 3 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 2, y_position: 3)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 2, y_position: 3), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 3 && @current_piece.y_position == 3 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 3, y_position: 3)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 3, y_position: 3), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 4 && @current_piece.y_position == 3 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 4, y_position: 3)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 4, y_position: 3), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 5 && @current_piece.y_position == 3 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 5, y_position: 3)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 5, y_position: 3), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 6 && @current_piece.y_position == 3 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 6, y_position: 3)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 6, y_position: 3), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 7 && @current_piece.y_position == 3 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 7, y_position: 3)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 7, y_position: 3), method: :put %>
      </td>
    </tr>
    <tr>
      <td class=<%= @current_piece.x_position == 0 && @current_piece.y_position == 4 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 0, y_position: 4)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 0, y_position: 4), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 1 && @current_piece.y_position == 4 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 1, y_position: 4)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 1, y_position: 4), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 2 && @current_piece.y_position == 4 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 2, y_position: 4)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 2, y_position: 4), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 3 && @current_piece.y_position == 4 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 3, y_position: 4)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 3, y_position: 4), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 4 && @current_piece.y_position == 4 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 4, y_position: 4)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 4, y_position: 4), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 5 && @current_piece.y_position == 4 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 5, y_position: 4)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 5, y_position: 4), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 6 && @current_piece.y_position == 4 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 6, y_position: 4)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 6, y_position: 4), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 7 && @current_piece.y_position == 4 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 7, y_position: 4)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 7, y_position: 4), method: :put %>
      </td>
    </tr>
    <tr>
      <td class=<%= @current_piece.x_position == 0 && @current_piece.y_position == 5 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 0, y_position: 5)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 0, y_position: 5), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 1 && @current_piece.y_position == 5 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 1, y_position: 5)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 1, y_position: 5), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 2 && @current_piece.y_position == 5 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 2, y_position: 5)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 2, y_position: 5), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 3 && @current_piece.y_position == 5 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 3, y_position: 5)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 3, y_position: 5), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 4 && @current_piece.y_position == 5 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 4, y_position: 5)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 4, y_position: 5), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 5 && @current_piece.y_position == 5 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 5, y_position: 5)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 5, y_position: 5), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 6 && @current_piece.y_position == 5 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 6, y_position: 5)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 6, y_position: 5), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 7 && @current_piece.y_position == 5 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 7, y_position: 5)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 7, y_position: 5), method: :put %>
      </td>
    </tr>
    <tr>
      <td class=<%= @current_piece.x_position == 0 && @current_piece.y_position == 6 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 0, y_position: 6)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 0, y_position: 6), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 1 && @current_piece.y_position == 6 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 1, y_position: 6)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 1, y_position: 6), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 2 && @current_piece.y_position == 6 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 2, y_position: 6)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 2, y_position: 6), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 3 && @current_piece.y_position == 6 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 3, y_position: 6)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 3, y_position: 6), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 4 && @current_piece.y_position == 6 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 4, y_position: 6)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 4, y_position: 6), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 5 && @current_piece.y_position == 6 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 5, y_position: 6)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 5, y_position: 6), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 6 && @current_piece.y_position == 6 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 6, y_position: 6)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 6, y_position: 6), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 7 && @current_piece.y_position == 6 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 7, y_position: 6)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 7, y_position: 6), method: :put %>
      </td>
    </tr>
    <tr>
      <td class=<%= @current_piece.x_position == 0 && @current_piece.y_position == 7 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 0, y_position: 7)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 0, y_position: 7), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 1 && @current_piece.y_position == 7 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 1, y_position: 7)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 1, y_position: 7), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 2 && @current_piece.y_position == 7 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 2, y_position: 7)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 2, y_position: 7), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 3 && @current_piece.y_position == 7 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 3, y_position: 7)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 3, y_position: 7), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 4 && @current_piece.y_position == 7 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 4, y_position: 7)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 4, y_position: 7), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 5 && @current_piece.y_position == 7 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 5, y_position: 7)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 5, y_position: 7), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 6 && @current_piece.y_position == 7 ? "current-piece-dark" : "dark square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 6, y_position: 7)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 6, y_position: 7), method: :put %>
      </td>
      <td class=<%= @current_piece.x_position == 7 && @current_piece.y_position == 7 ? "current-piece-light" : "light square" %>>
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 7, y_position: 7)
        link_to piece.empty? ? "" : image_tag(piece.take.icon), game_piece_path(@current_piece, x_position: 7, y_position: 7), method: :put %>
      </td>
    </tr>
</table>
</div>

<% if current_user == @game.user_id %>
<!-- You can move white pieces -->
<% end %>

<% if current_user == @game.opponent_id %>
<!-- You can move black pieces -->
<% end %>
