<h1><%= @game.game_name %></h1>
<h2><%= "White Pieces: #{@game.user_id}" %></h2>
<h2><%= "Black Pieces: #{@game.opponent_id}" %></h2>


<div class="padding">
  <h1 class="title">Chess Board</h1>

  <table class="board">
    <tr>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 0, y_position: 0)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 1, y_position: 0)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 2, y_position: 0)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 3, y_position: 0)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 4, y_position: 0)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 5, y_position: 0)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 6, y_position: 0)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 7, y_position: 0)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
    </tr>
    <tr>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 0, y_position: 1)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 1, y_position: 1)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 2, y_position: 1)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 3, y_position: 1)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 4, y_position: 1)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 5, y_position: 1)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 6, y_position: 1)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 7, y_position: 1)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
    </tr>
    <tr>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 0, y_position: 2)
         link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 1, y_position: 2)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 2, y_position: 2)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 3, y_position: 2)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 4, y_position: 2)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 5, y_position: 2)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 6, y_position: 2)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 7, y_position: 2)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
    </tr>
    <tr>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 0, y_position: 3)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 1, y_position: 3)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 2, y_position: 3)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 3, y_position: 3)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 4, y_position: 3)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 5, y_position: 3)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 6, y_position: 3)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 7, y_position: 3)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
    </tr>
    <tr>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 0, y_position: 4)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 1, y_position: 4)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 2, y_position: 4)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 3, y_position: 4)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 4, y_position: 4)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 5, y_position: 4)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 6, y_position: 4)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 7, y_position: 4)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
    </tr>
    <tr>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 0, y_position: 5)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 1, y_position: 5)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 2, y_position: 5)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 3, y_position: 5)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 4, y_position: 5)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 5, y_position: 5)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 6, y_position: 5)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 7, y_position: 5)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
    </tr>
    <tr>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 0, y_position: 6)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 1, y_position: 6)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 2, y_position: 6)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 3, y_position: 6)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 4, y_position: 6)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 5, y_position: 6)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 6, y_position: 6)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 7, y_position: 6)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
    </tr>
    <tr>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 0, y_position: 7)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 1, y_position: 7)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 2, y_position: 7)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 3, y_position: 7)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 4, y_position: 7)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 5, y_position: 7)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square dark">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 6, y_position: 7)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
      <td class="square light">
        <%= piece = ChessPiece.where(game_id: @game.id, x_position: 7, y_position: 7)
        link_to piece.empty? ? "available" : piece.take.icon, game_piece_path(@game.id, piece.take.id) if !piece.empty? %>
      </td>
    </tr>
  </table>
</div>

<% if current_user == @game.user_id %>
<!-- You can move white pieces -->
<% end %>

<% if current_user == @game.opponent_id %>
<!-- You can move black pieces -->
<% end %>
